<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">

<% if @rent_parking %>

<div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h2 class="media-heading"><%= @rent_parking.title %> </h2>
    <h2 class="media-heading"><%= @rent_parking.addres %> </h2>
    <h2 class="media-heading">Precio : S/. <%= @rent_parking.price %>    por Hora </h2>
    <div class="jumbotron" style="padding:0px;margin:0px;">
         
         <a class="btn btn-primary btn-lg" href="../../trasaction/<%= @rent_parking.id %>/paiment" role="button">Alquilar</a>
   <%= simple_form_for(@favorite_parking) do |f| %>
     
       <div style="display: none;">
        <%= f.input :name_space, input_html: { value: "registrado" }  %>
        <%= f.input :user_id, input_html: { value: current_user.id }  %>
        <%= f.input :rent_parking_id, input_html: { value: @rent_parking.id }  %>
        <%= f.input :fec_favorite ,input_html: { value: Time.now } %>
       </div>
       <div class="form-actions">
        <%= f.button :submit , :class => "btn btn-primary btn-lg" , :value => "Agregar Favorito"  %>
       </div>
  <% end %>
     </div>
  </div>
  <div>
      La altura máxima del aparcamiento es de 1,9 m .Tenga en cuenta que sólo se puede entrar y salir 
      de este aparcamiento , una vez dentro de su período reservado .Este aparcamiento está dentro de la zona de 
      congestión .Perfectamente situado para las atracciones de Bloomsbury , y el centro de Londres :.
  </div>
 </div>
</div>

<%  @reserve_parking_id = ""  %>
 <% @reserve_parkings.each do |reserve_parking| %>
    <%  @reserve_parking_id = reserve_parking.id  %>
<% end %>

<% if @reserve_parking_id !="" %>
<%= simple_form_for(@feedback) do |f| %>
<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
<div class="media" >
   <div class="media-left media-middle" style="width: 20%;display: inline-block;">
    <label> <%= current_user.email %> </label><br/>
    <%= image_tag "estrellas.png", :class => "media-object" %>
  </div>
   <div class="media-body" style="display: inline-block;width: 80%;">
       
       <%= f.input :description ,as: :text ,label: 'Comentario: ' ,input_html: { class: 'comentario' } %> 
  </div>
</div>
<div style="display: none;">
  
      <%= f.input :user_id, input_html: { value: current_user.id }  %>
      <%= f.input :reserve_parking_id, input_html: { value: @reserve_parking_id }  %>
      <%= f.input :fec_fedback ,input_html: { value: Time.now } %>
      
      <input type="text" name="rent_parking" value="<%= @rent_parking.id %>" >
     
</div>
  
<div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary btn-lg" ,:value => "Agregar Comentario"   %>
</div> 
</div>
</div>
<% end %>
<% end %> 
 
 
 
 
 
<% @feedbacks.each do |feedback| %>

<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
  <div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <label><%= current_user.email %></label><br/>
    <label><%= feedback.fec_fedback %></label><br/>
    <%= image_tag "estrellas.png", :class => "media-object" %>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
      <%= feedback.description %>
  </div>
  </div>
</div>
    
<% end %>
 




<% end %>
</div>

<style>
  .comentario{
    width:100%; 
    height: 79px;
  }
</style>





