<div class="panel panel-success">
  <div class="panel-body">
      Registrar Pago
  </div>
  
<%= simple_form_for(@reserve_parking) do |f| %> 
<!--%= form_for([@reserve_parking] , :html => { :class => "form-horizontal", :multipart => true}) do |f| %-->
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :fec_ini_reserve , label: 'Fecha reserva: '  %>
    
    <span>Hora Inicio:</span>
    <%= f.select  :hor_ini_reserve , options_for_select([[8, 8], [9, 9] , [10, 10], [11, 11],[12, 12] ,[13, 13] ,[14, 14] ,[15, 15] ,[16, 16] ,[17, 17] ,[18, 18] ,[19, 19] ,[20, 20] ,[21, 21] ,[22, 22] ,[23, 23] , [24, 24]])  %>
    <span>Hora Fin:</span>
    <%= f.select :hor_fin_reserve  , options_for_select([[8, 8], [9, 9] , [10, 10], [11, 11],[12, 12] ,[13, 13] ,[14, 14] ,[15, 15] ,[16, 16] ,[17, 17] ,[18, 18] ,[19, 19] ,[20, 20] ,[21, 21] ,[22, 22] ,[23, 23] , [24, 24]])  %>
    
    <div style="display:none;">
       <%= f.input :fec_fin_reserv , input_html: { value: Time.now }  %>
       <%= f.input :mont_reserve %>
       <%= f.input :cod_Pay %>
       <%= f.input :rent_parking_id , input_html: { value:  @rent_parking.id }  %>
       <%= f.input :user_id , input_html: { value:  @current_user.id }  %>
       <%= f.input :state , input_html: { value:  "Activo" }  %>
    </div>
  </div>

  <div class="form-actions">
   <input type="submit"  value="Registrar"  onclick="return validar();">
  </div>
<% end %>
  
  <script>
    function validar(){
     
     
     var  precio = '<%= @rent_parking.price%>';
     var  horainicio = $("#reserve_parking_hor_ini_reserve").val();
     var  horafin = $("#reserve_parking_hor_fin_reserve").val();
     
     var diferencia=horafin- horainicio;
     var product=precio*diferencia;
     document.getElementById('reserve_parking_mont_reserve').value = product;
     document.getElementById('reserve_parking_cod_Pay').value = "1234-125-125";
     
     return true;
    }
   
  </script>
  

</div>
